
* {
    box-sizing: border-box;
}

body {

    font-family: 'Times New Roman', sans-serif;
    background: url("IMG/white-abstract.jpg");
    background-size: cover;
}


/*DETTE ER TOPBAR*/
.topbar p {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

/*DETTE ER FOR HOTBAR*/

.hotbar {
    position: absolute;
    top: 5px;
    right: 5%;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-family: 'Times New Roman', sans-serif;
}

.hotbar a {
    background-color: rgb(11, 71, 144) /*rgb(162,221,240)*/;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 5px;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Times New Roman', sans-serif;
}

/*knapperne */
.button1 {
    border: 2px solid rgb(11, 71, 144);
    background-color: rgb(11, 71, 144);
    color: white;
    height: 28px;
    font-family: "Times New Roman", sans-serif;
}

.button1:hover {
    background-color: dodgerblue;
}

.button1:active {
    background-color: dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button2 {
    border: 1px solid rgb(11, 71, 144);
    background-color: rgb(11, 71, 144);
    color: white;
    height: 28px;
    font-family: "Times New Roman", sans-serif;
    position: fixed;
    top: 5px;
    right: 2px;
    width: 65px;
}

.button2:hover {
    background-color: dodgerblue;
}

.button2:active {
    background-color: dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h1 {
    margin: 1px;
    width: 400px;
    padding: 10%;
    height: 10px;
}

.container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

#tidmellem {
    font-size: 15px;
    font-weight: normal;
}

span {
    display: block;
}

input {
    background-color: #eee;
    padding: 12px;
    margin: 8px 0;
    width: 280px;
    border: 1px solid;
}

select {
    background-color: #eee;
    padding: 12px;
    margin: 8px 0;
    width: 102%;
    border: 1px solid;
}

textarea {
    background-color: #eee;
    padding: 12px;
    margin: 8px 0;
    width: 280px;
    border: 1px solid;
}

.button {
    border: 1px solid rgb(11, 71, 144);
    background-color: rgb(11, 71, 144);
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 30px;
    width: 49%
}

.button:hover {
    background-color: dodgerblue;
}

.button:active {
    background-color: dodgerblue;;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Fra website */

.open-button {
    background-color: rgb(11,71,144) ;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

